
.banner {
    position: relative;min-width: 1460px;
}

.bj {min-width: 1460px;}
.bj1 {
    background: url('../images/bj1.jpg') no-repeat center center;
    height: 1149px;
}

.bj2 {
    background: url('../images/bj2.jpg') no-repeat center center;
    height: 370px;
}

.bj3 {
    background: url('../images/bj3.jpg') no-repeat center center;
    height: 931px;
}

.bj4 {
    background: url('../images/bj4.jpg') no-repeat center center;
    height: 524px;
}

.bj5 {
    background: url('../images/bj5.jpg') no-repeat center center;
    height: 950px;
}

.bj6 {
    background: url('../images/bj6.jpg') no-repeat center center;
    height: 884px;
}

.bottom {
    background: url('../images/bottom.jpg') no-repeat center center;
    height: 960px;
}

.menu-box {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.menu-box .logopic {
    width: 173px;
    height: 51px;
}

.menu-box .menucon {
    width: 1460px;
    min-height: 1460px;
    margin: 0 auto;
    padding-top: 20px;
}

.menu a {
    width: 63px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    transition: all ease 0.3s;
    display: inline-block;
    font-size: 18px;
}

.menu a:hover {
    background: #fff;
    color: #a99a88;
}

.navigation {
    position: absolute;
    top: 1140px;
    left: 30px;
    width: 125px;
    transition: all ease 0.3s;
}

.bottom h2 {
    color: #7a492f;
    font-size: 46px;
    text-align: center;
    padding-top: 120px;
    margin-top: 180px;
}

.bottom h2 em {
    color: #c97d3b;
}

.bottom .bottom-con {
    width: 930px;
    margin: 0 auto;
}

.bottom .inner {
    margin-top: 50px;
}

.bottom .logo1 {
    width: 128px;
    height: 42px;
    margin-right: 50px;
}

.bottom .logo2 {
    height: 136px;
    height: 44px;
}

.bottom .contact {
    margin-top: 25px;
}

.bottom .contact .p1 {
    font-size: 18px;
    color: #81512a;
    margin-bottom: 8px;
}

.bottom .code-group {
    margin-top: 25px;
}

.bottom .code {
    width: 100px;
    height: 100px;
}

.bottom .code1 {
    margin-right: 40px;
}

.bottom .innerright {
    background: #faf1e8;
    border-radius: 5px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.07);
    width: 310px;
    padding: 50px 40px 20px;
}

.bottom .inputbox {
    margin-bottom: 20px;
}

.bottom .inputbox .s1 {
    color: #875940;
    font-size: 18px;
    letter-spacing: 5px;
}

.bottom .inputbox input {
    width: 235px;
    font-size: 18px;
    border: none;
    background: none;
    border-bottom: 1px solid #f4e3d7;
}

.bottom .inputbox .tips {
    font-size: 16px;
    color: #875940;
    opacity: 0;
}

.bottom .wrong .tips {
    opacity: 1;
}

.bottom .gobtn {
    font-size: 30px;
    color: #78482f;
    width: 790px;
    line-height: 92px;
    text-align: center;
    margin: 188px auto 0;
    cursor: pointer;
}


.bottombanner {position: fixed;bottom: 0;left: 0;z-index:100;}