.yahei {font-family:Microsoft YaHei;}
.box {margin:0 auto;width: 100%;}
.wrap {width: 100%;}
.swiper-container {width: 100%;}
.swiper-slide {width: 100%;}

.content {background: rgba(255,255,255,0.9);padding: 4rem 0 0 0;background: #fff\0;}
.content .titlepic {width: 65%;;margin:0 auto;margin-bottom: 5rem;}
.bottombj {background: url('../images/decorate.png') no-repeat center bottom;min-height: 35.2rem;background-size: 100%;padding-bottom: 4rem;}

.form {padding:0 5%;}
.inputwrap {width: 100%;}
.inputbox {width: 100%;margin-bottom: 2.5rem;}
.inputbox .p1 {font-size: 2.8rem;color:#0d0d0d;margin-bottom: 0.5rem;}
.inputbox .p1 i{color:#c7444f;}
.inputbox .inputcon {position: relative;width: 100%;}
.inputbox .icon {position: absolute;left: 1rem;}
.inputbox .icon1 {width: 2rem;height: 2.4rem;top: 1.5rem;}
.inputbox .icon2 {width: 2.6rem;height: 2.6rem;top: 1.4rem;}
.inputbox .icon3 {width: 2.2rem;height: 2.8rem;top: 1.2rem;}
.inputbox .icon4 {width: 2.6rem;height: 2.6rem;top: 1.2rem;}

.distance {margin-bottom: 2.5rem;}
.inputbox .inputcon .mac {text-indent: 4.8rem;}
.inputbox input{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.inputcon2 {width: 100%;}

.address .area {background: #fff;}
.tips {margin-bottom: 0.5rem;}
.tips .inputcon textarea {width: 96%;padding:2%;text-indent: 0;}
.notice {font-size: 1.6rem;color:#787878;}
.btn {color:#fff;background: #3a85c0;transition:all ease 0.3s;cursor: pointer;
margin:1.5rem auto 0;text-align: center;border-radius:0.7rem;width: 20rem;height: 5.6rem;line-height: 5.6rem;font-size: 3rem;}
.btn:hover {background: #539cd6;}
.btn img{width: 1.1rem;height: 1.7rem;margin-left: 1rem;}

.contact {margin-top: 4rem;}
.contact .code .chart {width: 100%;}
.contact .p1 {color:#0087c5;}
.contact .phonenum {color:#0087c5;}

.banner {margin:0 auto;width: 100%;}


.popbox {position: fixed;z-index:-1;width: 100%;height: 100%;left: 0;top: 0;opacity: 0;transition:all ease 0.3s;}
.popboxon {opacity: 1;z-index:1000;}
.pop {display: flex;justify-content: center;align-items: center;color:#fff;width: 100%;height: 100%;text-align: center;}
.pop .p1 {background: rgba(0,0,0,0.5);transition:all ease 0.5s;padding:1rem 2rem;border-radius:0.5rem;font-size: 2.2rem;}



/* swiper css */
.swiper1 {position: relative;}
.swiper1 .swiper-container {color: #fff;text-align: center;}
.swiper1 .pagination {position: absolute;z-index: 20;bottom: 1rem;left: 0;width: 100%;text-align: center;}
.swiper1 .swiper-pagination-switch {display: inline-block;width: 1rem;height: 1rem;border-radius: 50%;background: #a2a2a2;cursor: pointer;margin:0 0.5rem;}
.swiper1 .swiper-active-switch {background: #e89557;}

.other {padding:3rem 4rem 15rem;background: rgba(255,255,255,0.9);}
.swiper2 {width: 100%;position: relative;margin: 0 auto 5rem;}
.swiper2 .swiper-slide {height: 100%;opacity: 0.4;
    /* -webkit-transition: 500ms;-moz-transition: 500ms;-ms-transition: 500ms;-o-transition: 500ms;transition: 500ms;-webkit-transform: scale(1);
    -moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1); */
}
.swiper2 .swiper-slide img{box-shadow:0 0 1rem rgba(0,0,0,0.28);}
.swiper2 .swiper-slide-visible {opacity: 0.5;
    -webkit-transform: scale(0.8);-moz-transform: scale(0.8);-ms-transform: scale(0.8);-o-transform: scale(0.8);transform: scale(0.8);
}
.swiper2 .swiper-slide-active {top: 0;opacity: 1;
    -webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);
}
.swiper2 .pagination {position: absolute;z-index: 20;left: 0;width: 100%;text-align: center;bottom: -3.5rem;}
.swiper2 .swiper-pagination-switch {display: inline-block;width: 1rem;height: 1rem;border-radius: 0.8rem;background: #a6a6a6;margin-right: 0.8rem;cursor: pointer;
    -webkit-transition: 500ms;-moz-transition: 500ms;-ms-transition: 500ms;-o-transition: 500ms;transition: 500ms;position: relative;top: 0;}
.swiper2 .swiper-active-switch {background: #ed995a;}


.wrap {width: 100%;}
.swiper1 .pagination {bottom: 1rem;}

.pcfl {float: none;}
.pcfr {float: none;}


.inputbox .p1 {font-size: 2.8rem;}
.address .area {height: 4.8rem;width: 20%;border: 0.1rem solid #010017;background: #fff;display: flex;align-items:center;}
.address .area .s1 {line-height: 4.8rem;font-size: 2rem;margin-left: 1rem;}
.address .p2 {font-size: 2rem;margin-top: -0.5rem;margin-bottom: 0.5rem;color:#6b6b6b;}
.address .area img{margin-left: 1rem;}
.address .inputcon .detailaddress {margin-left: 3%;width: 76.1%;text-indent: 2rem;}
.inputbox .input1 {width: 100%;}
.inputbox .something {height: 5rem;border: 0.1rem solid #010017;text-indent: 4.8rem;font-size: 2rem;}
.inputbox .tips {font-size: 1.6rem;}
.inputbox .inputcon select {height: 5rem;border: 0.1rem solid #010017;font-size: 2rem;width: 100%;text-indent: 4.8rem;display: inline-block;padding-left: 0;}


.notice .p1 {font-size: 2rem;}
.tips .inputcon textarea {height: 18rem;}
.contact {display: flex;justify-content: center;align-items: center;}
.contact .code {margin:0 3rem;width: 15rem;}
.contact .p1 {font-size: 1.8rem;margin-top: 0.5rem;}
.contact .phonenum {font-size: 3rem;margin-top: 0;}

.swiper2 .swiper-container {padding:1rem 0;}


.menu {background: #fff;width: 100%;height: 8rem;}
.menuon {position: fixed;top: 0;left: 0;width: 100%;z-index:200;}
.menu .menucon {display: flex;justify-content: space-between;align-items: center;margin:0 1%;height: 8rem;}
.menu .title {font-size: 3rem;font-weight: bold;}
.menu .ml1 {width: 8rem;}
.menu .ml2 {width: 10rem;}
.bottom {position: fixed;bottom: 0;left: 0;width: 100%;z-index:100;}




